.main_container {
  width: 1600px;
  height: 800px;
  background: url("./Images/App_Background.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

@font-face {
  font-family: "Marker";
  src: url("./Fonts/PermanentMarker.ttf");
}

p {
  font-size: 30px;
  color: white;
  font-family: "Marker"
}